.step-wrapper {
    color: #222222;
    display: grid;
    grid-template-columns: 160px 200px 160px;
    grid-template-areas: "stepOne divLine stepTwo";
    width: 80%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin: 1rem auto;
}

.step-number {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    text-align: center;
    margin-bottom: 1.2rem;
    margin: 0 auto;
    cursor: pointer;
}

.step-one {
    grid-area: stepOne;
}

.step-two {
    grid-area: stepTwo;
}

.step-number-selected {
    background-color: #00A7E1;
    color: #ffffff;
}

.step-number-disabled {
    border: 1px solid #e3ebff;
}

.step-description {
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
}

.step-description-active {
    font-weight: bold;
}

.divider-line {
    grid-area: divLine;
    height: 2px;
    background-color: #e3ebff;
    width: 100%;
    margin-bottom: 3rem;
}