.table-container {
    display: grid;
    grid-template-columns: 200px 100%;
}

.table-schema-help {
    margin-top: 3rem;
}

.table-schema-help_row {
    padding: 1.3rem;
}

.table-thead-tr {
    height: 50px;
    border-radius: 8px;
}

.table-thead-th {
    background: #f1f1f1;
    color: #363844;
    font-weight: bold;
}

.table-tbody-tr-help {
    background: #ffffff;
    color: #363844;
    height: 40px;
}

.table-tbody-input {
    border: none;
    padding: 20px 10px 20px 10px;
}