.table-container {
  margin-top: 2.6rem;
  margin-bottom: 2rem;
  display: flex;
}

.table-schema-info_container {
  overflow: overlay;
}

.table-schema-info_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}

.table-schema-info_container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

.table-schema-info_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #e3e9ed;
}

.table-schema-info_table {
  width: auto !important;
}

.table-schema-help {
  vertical-align: middle;
}

.table-schema-help_row {
  padding: 1.3rem;
}

.table-thead-tr {
  height: 50px;
  border-radius: 8px;
}

.table-thead-th {
  background: #f1f1f1;
  color: #363844;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  position: sticky;
  top: 0;
  z-index: 10;
}

.table-tbody-help-tr {
  color: #363844;
  height: 40px;
}

.table-tbody-help-td {
  vertical-align: middle;
  font-weight: bold;
}

.table-tbody-help-td-empty {
  height: 50px;
}

.table-tbody-td {
  padding: 5px;
  border: solid 1px #f1f1f1;
  background: #fff;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.table-tbody-input {
  border: none;
  padding: 0 10px 0 10px;
  height: 40px;
}

.table-tbody-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fafafa;
  width: 100%;
  border: none;
  padding: 10px;
  height: 40px;
}

.table-btn-save {
  padding: 10px;
  width: 90%;
  background-color: #4fa8fd;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  outline: 0;
}

.table-btn-save:disabled {
  background: #e3e9ed !important;
  cursor: default;
}
