body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  color: #fff;
  padding-top: 10%;
}

.upload-wrapper {
  width: 100%;
  min-width: 360px;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 32px 24px;
  border-radius: 12px;
  min-height: 60%;
  position: relative;
  display: grid;
  grid-template-columns: 40% 2fr;
  grid-template-rows: 80px 2fr 60px 1fr;
  grid-template-areas:
    "header header"
    "drop info"
    "name name"
    "meta meta";
  row-gap: 20px;
  column-gap: 20px;
}

.upload-header {
  grid-area: header;
  border-bottom: 1px solid #e3ebff;
}

.upload-header__title {
  color: #3f4656;
  font-weight: 400;
}

.upload-info {
  grid-area: info;
  padding-top: 20px;
}

.upload-drop-area {
  grid-area: drop;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.upload-input {
  padding: 1rem 1rem;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  min-height: 200px;
  border: 1px dashed #3f4c6b;
  margin: 0px auto;
  width: 95%;
  border-radius: 8px;
  cursor: pointer;
  outline: 0;
  box-sizing: border-box;
  z-index: 10;
  color: transparent;
}

.upload-icon {
  width: 80px;
  position: absolute;
  top: 33%;
  left: 40%;
  cursor: pointer;
  fill: #e3ebff;
}

.upload-text {
  color: lightslategrey;
  opacity: 0.7;
  font-weight: 400;
  position: absolute;
  top: 55%;
  font-size: 0.78rem;
  cursor: pointer;
}

.upload-input::-webkit-file-upload-button {
  flex-shrink: 0;
  font-size: 0.65rem;
  color: #ffffff;
  border-radius: 3px;
  padding: 8px 15px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: 0;
  margin: 0 auto;
  visibility: hidden;
}

.upload-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #2ecc71;
  outline: none;
  border: none;
  cursor: pointer;
  height: 120px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 11px 3px rgba(18, 22, 33, 0.05);
}

.upload-btn:disabled {
  background: #e3e9ed !important;
  cursor: default;
}

.upload-btn:hover {
  background-color: #48e68b;
}

.upload-list {
  padding: 0;
}

.list-item {
  display: flex;
}

.upload-list-item {
  margin: 0 auto;
  background-color: #fff;
  padding: 8px 24px;
  list-style: none;
  max-width: 480px;
  width: 85%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 11px 3px rgba(18, 22, 33, 0.05);
}

.upload-file-name {
  max-width: 19ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3f4656;
}

.upload-file-size {
  text-align: left;
  font-size: 0.75rem;
  color: lightslategrey;
}

.upload-message {
  color: #3f4656;
}
