body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: hsl(220, 13%, 18%);
  height: 100vh;
  color: #fff;
  padding-top: 10%;
}


.uploader-wrapper {
  display: grid;
  width: 50%;
  margin: 0 auto;
}

.uploader-input {
  padding: 1rem 1rem;
}

.uploader-btn {
  border-radius: 5px;
  padding: 15px 45px;
  font-size: 22px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #2ecc71;
  outline: none;
  border: none;
}

.uploader-btn:hover {
  background-color: #48E68B;
}