body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: hsl(220, 13%, 18%);
  height: 100vh;
  color: #fff;
  padding-top: 10%;
}


.upload-wrapper {
  width: 50%;
  min-width: 360px;
  max-width: 560px;
  margin: 0 auto;
  background-color: #fff;
  padding: 32px 24px;
  border-radius: 12px;
  min-height: 60%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr 120px;
}

.upload-info {
  /* display: grid;
  grid-template-columns: 1fr 1fr 100px;
  justify-items: center;
  align-items: center; */
}

.upload-drop-area {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.upload-input {
  padding: 1rem 1rem;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  min-height: 200px;
  border: 1px dashed #3F4C6B;
  margin: 0px auto;
  width: 95%;
  border-radius: 8px;
  cursor: pointer;
  outline: 0;
  box-sizing: border-box;
  z-index: 10;
}

.upload-icon {
  width: 80px;
  position: absolute;
  top: 25%;
  left: 43%;
  cursor: pointer;
  fill: #E3EBFF;
}

.upload-text {
  color: lightslategrey;
  opacity: 0.7;
  font-weight: 400;
  position: absolute;
  top: 65%;
  font-size: 0.78rem;
  cursor: pointer;
}

.upload-input::-webkit-file-upload-button {
  flex-shrink: 0;
  font-size: 0.65rem;
  color: #ffffff;
  border-radius: 3px;
  padding: 8px 15px;
  margin:0;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: 0;
  margin: 0 auto;
  visibility: hidden;
}

.upload-btn {
  border-radius: 5px;
  padding: 15px 35px;
  font-size: 22px;
  margin: 0 auto;
  color: #fff;
  background-color: #2ecc71;
  outline: none;
  border: none;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #48E68B;
}

.upload-list {
  padding: 0;
}

.upload-list-item {
  margin: 0 auto;
  background-color: #fff;
  padding: 8px 24px;
  list-style: none;
  max-width: 480px;
  width: 85%;
  border-radius: 8px;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 11px 3px rgba(18, 22, 33, 0.05)
}

.upload-file-name {
  max-width: 19ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3F4656;
}

.upload-file-size {
  text-align: left;
  font-size: 0.75rem;
  color: lightslategrey;
}

.upload-message {
  color: #3F4656;
}