.svg{
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
  
.svg-circle-bg {
    fill: none;
}
  
.svg-circle {
    fill: none;
}

.svg-circle-text {
    font-size: 0.68rem;
    text-anchor: middle;
    margin-top: 30px;
    fill: #fff;
    font-weight: bold;
}

.time-remaining  {
    font-size: 0.65rem;
}